{{#cards}}
    <div class="card rounded" onclick="{{onclick}}">
        <header class="card-header">
            <p class="card-header-title">
                {{title}}
            </p>
        </header>
        <div class="card-content">
            <div class="columns">
                <div class="column is-flex">
                    {{description}}
                </div>
            </div>
        </div>
    </div>
    <br/>
{{/cards}}