{{#options}}
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{title}}
            </p>
        </header>
        <div class="card-content">
            <div class="columns">
                <div class="column is-flex">
                    {{description}}
                </div>
                <div  class="column" style="flex-grow: 0;">
                    <button class="button">{{buttonText}}</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
{{/options}}