{{!
Expects input "Event"

Event: {
    "title": "string",
    "description": "string",
    "options": [Card]
}
Card: {
    "title": "string",
    "description": "string",
    "buttonText": "string",
    "hasRequirements": "bool",
    "requirements": [Requirement]
}

See requirement.mustache for the definition of the Quality type.
}}
<header>{{title}}</header>
<p>{{description}}</p>
<br/>
{{#options}}
    <div class="card rounded">
        <header class="card-header">
            <p class="card-header-title">
                {{title}}
            </p>
        </header>
        <div class="card-content">
            {{#hasRequirements}}
                {{description}}
                <div class="columns">
                    <div class="column is-flex"></div>
                    {{#requirements}}
                        {{>requirement}}
                    {{/requirements}}
                    <div class="column last">
                        <button class="button" onclick="{{onClick}}">{{buttonText}}</button>
                    </div>
                </div>
            {{/hasRequirements}}
            {{^hasRequirements}}
                <div class="columns">
                    <div class="column is-flex">
                        {{description}}
                    </div>
                    <div class="column last">
                        <button class="button" onclick="{{onClick}}">{{buttonText}}</button>
                    </div>
                </div>
            {{/hasRequirements}}
        </div>
    </div>
    <br/>
{{/options}}